# Node modules (always ignore)
node_modules
**/node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Local environment/config
.env
*.local
*.env

# TypeScript build outputs
dist
coverage

# Editor files
.vscode
.idea
*.swp
*.swo

# Misc
readme.md
