version: '3.9'

services:
  backend:
    build: .
    container_name: backend-sk-server
    env_file:
      - .env
    expose:
      - "3131"
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
